body {
  margin: 0;
  background-color: #eff3f7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
  height: 100%;
}

h1,
h2 {
  font-weight: 500;
}

.li {
  margin-top: 5px;
  margin-right: 10px;
}

.hidden {
  display: none;
}

.title {
  margin: 50px 100px;
}

input {
  border-radius: 5px;
  background-image: url("search-solid.svg");
  background-position: absolute;
  background-repeat: no-repeat;
  padding: 5px 25px;
  background-size: 15px;
  background-position-x: 5px;
  background-position-y: 5px;
  width: 80%;
  margin-right: 10px;
  border-color: #eff3f7;
}

/* ====== searchBar.css =========*/
.search__container,
.resultFor,
.nominations {
  background-color: white;
  padding: 20px;
  margin: 40px 100px;
  border-radius: 10px;
  box-shadow: 0px 13px 27px -5px rgba(126, 126, 180, 0.25);
}

/* ====== banner.css =========*/
.banner {
  background-color: aquamarine;
}

.banner__content {
  padding: 30px;
  max-width: 700px;
  margin: 0 auto;
  font-size: 25px;
}

.button__close {
  padding: 15px;
  margin-left: 20px;
  background-image: url("times-circle.svg");
  background-position: absolute;
  background-color: aquamarine;
  border: none;
}
